.frameC {
  padding: 30px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.about h1{
  font-family:"helvetica";
}

.about {
  font-size: 20px;
}

.TitleContact{
  background-color: var(--accent);
  clip-path: polygon(2% 5%, 95% 50%, 100% 70%, 95% 80%, 0% 60%);
  padding: 15px;
}

.ContainerContact{
  position: relative;
  align-self: flex-start;
  clip-path: polygon(2% 5%, 95% 50%, 100% 70%, 95% 80%, 0% 60%);
  z-index: 1;
  padding: 15px;
  background-color: black;
}

.TextContact{
  font-size: 70px;
  transform: skew(5deg, 10deg);
}

.ColumnDiv{
  display: flex;
  flex-direction: column;
}

.RowDiv{
  display: flex;
  flex-direction: row;
}

.icons{
  margin: 10px 20px;
}

.formInput{
  padding: 10px;
  max-width: 25vw;
  width: 500px;
  margin: 10px 0px;
  border: 3px solid black;
  border-radius: 5px;
}

button{
  padding: 10px;
  background-color: black;
  color: var(--accent);
  font-family: 'persona';
  font-size: 20px;
  border-radius: 5px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}