.windowProject {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bghome);
  margin-bottom: 10px;
  z-index: 1;
  left: 0;
  margin: auto;
}

.ProjectHeaderDiv {
  background-color: white;
  clip-path: polygon(2% 15%, 20% 0%, 100% 50%, 100% 90%, 80% 100%, 0% 60%);
  padding: 10px;
}

.windowProject h2 {
  font-size: 30px;
  transform: skew(5deg, 10deg);
}

.ProjectList {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ProjectItem{
  position: relative;
  background-color: var(--accent);
  border: 5px solid var(--border);
  display: flex;
  padding: 10px;
  margin: 5px 0px;
  max-width: 600px;
  min-width: 500px;
  mix-blend-mode: normal !important ; 
}

.ProjectImg{
  margin-right: 20px;
  object-fit: cover;
}

.ProjectItem ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.ProjectItem ul li{
  background-color: white;
  display: block;
  padding: 7px 15px;
  border-radius: 30px;
  border: 2px solid black;
}

.ProjectOverlay{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease;
}

.ProjectLink{
    background-color: hsla(0, 0%, 100%, 0.226);
    border: 2px solid white;
    border-radius: 30px;
    margin: 10px;
}

.ProjectLink a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 8px;
    margin: 10px;
}

.ProjectOverlay:hover{
    opacity: 1;
}