.windowPage{
    mix-blend-mode: difference;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--scrollSec);
    margin-bottom: 10px;
    z-index: 1;
    left: 0;
    margin: auto;
}