nav{
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 11;
}

ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  mix-blend-mode: difference;
}

li{
  list-style: none;
  display: inline;
  font-weight: 600;
  margin-right: 1vw;
}

.NavBar{
  padding: 10px 15px;
  overflow: hidden;
}

.divNav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: var(--bg);
}


.tri-btn {
  position: relative;
  display: inline-block; 
  z-index: 2;
  padding: 10px 20px;
  background-color: transparent;
  border: 0cm;
}

/* The triangle (hidden by default) */
.tri-btn::before {
  content: "";
  top: -1px;
  position: absolute;
  transform: translateX(-30%);
  
  width: 120%;      /* triangle width relative to button */
  height: 100%;     /* triangle height relative to button */
  
  background: rgba(0,153,255,0.4);
  backdrop-filter: blur(5px);

  clip-path: polygon(
    0% 0%,   /* top l */
    30% 100%,  /* Top r */
    100% 0% /* bottom */
  );

  z-index: -1;

  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Show on hover */
.tri-btn:hover::before {
  opacity: 1;
  animation: bounceTriangle 0.6s ease-in-out infinite;
}

@keyframes bounceTriangle {
  0% {
    clip-path: polygon(
      0% 0%,   /* top l */
      40% 90%,  /* Top r */
      80% 0% /* bottom */
    );
  }
  30% {
    clip-path: polygon(
      0% 20%,   /* top l */
      30% 100%,  /* Top r */
      110% 0% /* bottom */
    );
  }
  60% {
    clip-path: polygon(
      5% 0%,   /* top l */
      30% 100%,  /* Top r */
      80% 0% /* bottom */
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,   /* top l */
      20% 100%,  /* Top r */
      100% 0% /* bottom */
    );
  }
}
